.header {
  width: 100%;
  background-color: var(--dark-blue);
  color: var(--color-white);

  .mainWrapper {
    width: 100%;
    height: 8rem;
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .logo .logoLink .logoTitle {
    display: flex;
    font-size: 5rem;
    width: 25%;
    color: var(--color-white);
    cursor: pointer;
    span {
      color: orangered;
    }
  }

  .nav {
    width: 75%;
    display: flex;
    justify-content: space-between;
    .navList {
      display: flex;
      justify-content: space-between;
      list-style: none;
      align-items: center;
      .logo-mobile {
        display: none;
      }

      .navItem {
        margin: 0 5px;
        .navLink {
          color: var(--color-white);
          &:hover {
            color: orangered;
          }
        }
      }
    }
  }

  .rigthNavBar {
    display: flex;

    .cart .cartLink {
      display: flex;
      color: var(--color-white);
      position: relative;
      &:hover {
        color: orangered;
      }
      &.active {
        color: var(--color-danger);
      }
      p {
        position: absolute;
        top: -1rem;
        right: -1rem;
        font-weight: 500;
      }
    }

    span {
      margin: 0 5px;

      p {
        color: #fff;
      }
    }

    .links .navLink {
      margin: 0 5px;
      color: #fff;
      &:hover {
        color: orangered;
      }
      &.active {
        color: var(--color-danger);
      }
    }
  }

  .menuIcon {
    cursor: pointer;
    display: none;
  }
  .logoMobile {
    display: none;
  }
  @media screen and (max-width: 800px) {
    .nav {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100vh;
      background-color: var(--dark-blue);
      padding: 1rem;
      z-index: 999;
      transform: translateX(-200%);
      transition: all 0.3s;

      .navWrapper {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        transform: translateX();
        transition: all 0.3s;
      }

      .showNavWrapper {
        transform: translateX(100%);
      }

      .navList {
        display: block;
        .logoMobile {
          display: flex;
          justify-content: space-between;
          align-items: center;
          > * {
            cursor: pointer;
          }
        }
        .navItem {
          padding: 5px 0;
          border-bottom: 1px solid #333;
          .navLink {
            display: block;
          }
        }
      }

      .rigthNavBar {
        display: block;
        .cart {
          // display: block;
          // padding: 5px 0;
          border-bottom: 1px solid #333;
          // a {
          //   position: relative;
          //   p {
          //     position: absolute;
          //     top: -1rem;
          //     left: 5rem;
          //     font-weight: 500;
          //   }
          // }
        }

        .links {
          display: block;
          .navLink {
            display: block;
            margin: 0;
            padding: 5px 0;
            border-bottom: 1px solid #333;
          }
        }
      }
    }
    .cart {
      display: block;
      padding: 5px 0;
      // border-bottom: 1px solid #333;
      .cartLink {
        color: #fff;
        position: relative;
        &:hover {
          color: orangered;
        }
        p {
          position: absolute;
          top: -1rem;
          left: 7rem;
          font-weight: 500;
          color: #fff;
        }
      }
    }
    .showNav {
      transform: translateX(0);
    }
    .hideNav {
      transform: translateX(-200%);
    }
    .menuIcon {
      display: flex;
      > * {
        margin-left: 2rem;
      }
    }
  }
}

// ВЫДЕЛЕНИЕ АКТИВНОЙ СТРАНИЦЫ
.active {
  position: relative;
  color: var(--color-danger);
  text-decoration: none;
}
