.footer {
  background-color: var(--dark-razer);
  color: #fff;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  .text {
    color: var(--color-razer);
  }
}
