@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --font-family: "Catamaran", sans-serif;

  --smoky-black: #0b0a07;
  --pear-green: #bbc926;
  --xanthous-green: #f7b026;

  --color-dark: #333;
  --color-white: #fff;
  -color-grey: #eee;
  --box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
*{
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}
body {
  font-family: var(--font-familyt);
}
section {
  width: 100%;
  padding: 4rem 0;
  outline: 1px solid red;
}
.container{
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 2rem;
}
